# symlink this file with the command
# ln -s ~/Git/Configuration/ssh_config ~/.ssh/config

Host betzy
    User vegardfa
    Hostname betzy.sigma2.no

Host uio
    User vegardfa
    Hostname login.ifi.uio.no
